@model Student
<div class="secondary-page">
    <h2>Enter PIN</h2>
    @using (Html.BeginForm("CheckPIN", "User", "Post")) 
    {
        <input asp-for="StudentID" type="hidden" value="@ViewBag.Message" />
        <br>
        <label asp-for="PIN" class="control-label">Password</label>
        <input type="text" name="PIN" class="form-control" value="" />
        <br>
        <input type="submit" value="Log In" class="btn btn-primary" />
    
    }
</div>