@model IEnumerable<Prize>
<h2>Order Placed for @StoreInfo.StudentName!</h2>




<table class="table">
    <tr>
        <th>Item</th>
        <th>Order Quantity</th>
        <th>Cost</th>
    </tr>

    @foreach (var prize in Model) // displays each prize associated with the store, with a link to that prize
    {
        <tr>
            <td>@prize.PrizeName</td>
            <td>@prize.Price</td>
            <td>@(prize.Quantity*prize.Price)</td>
        </tr>
    }

</table>

    


