@model IEnumerable<Order>

<h2>List of Orders</h2>
<p>Select an order to edit or mark as fulfilled:</p>


<table class="table">
    <tr>
        <th>Order Date</th>
        <th>Student Name</th>
        <th>Category</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Status</th>
    </tr>

    @foreach (var order in Model) // displays each order associated with the store, with a link to that order
    {
        <tr>
            <td>@order.OrderDate</td>
            <td>Name</td>
            <td>Category</td>
            <td><a href="/Order/Index/@order.OrderID">Prize</a></td>
            <td>@order.Quantity</td>
            <td>@order.Cost</td>
            <td>@order.FulfillmentStatus</td>
        </tr>
    }

</table>