<div class="secondary-page">
    <h3>Invalid Credentials</h3>
    <p>That email and password did not match.</p>
    <a asp-area="" asp-controller="Admin" asp-action="Register">Register for a new account</a>
    <br />
    <a asp-area="" asp-controller="Admin" asp-action="Login">Try logging in again</a>
</div>
