@model Admin
<div class="secondary-page">
    <h2>Log In</h2>
    @using (Html.BeginForm("Overview", "Admin", "Post")) // posts email and password to admin controller, overview action
    {
        <br>
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" name="Email" class="form-control" value="" />
        <br>
        <label asp-for="Unhashed" class="control-label">Password</label>
        <input type="password" name="Unhashed" class="form-control" value="" />
        <br>
        <input type="submit" value="Log In" class="btn btn-primary" />
        <br>
        <br>
        <a asp-area="" asp-controller="Admin" asp-action="Register">Register for a new account</a>
    }
</div>