@model Admin

<h2>Admin Overview</h2>
<p>Login successful!</p>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Email</td>
    </tr>

</table>


