@model IEnumerable<Organization>
<h2>Login Successful</h2>
<p>Select your store:</p>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Store Name</th>
    </tr>

    @foreach (var organization in Model)
    {
        <tr>
            <td>@organization.ID</td>
            <td>@organization.Name</td>
        </tr>
    }

</table>   