<h3>Protected Page</h3>
<p>You must be signed in to view this page.</p>
<br>
<a asp-area="" asp-controller="Admin" asp-action="Login">Log in</a>
<br>
<a asp-area="" asp-controller="Admin" asp-action="Register">Register for a new account</a>