<div class="secondary-page">
    <h3>Admin Registration Successful</h3>
    <p>Please allow the database a couple minutes to update before <a asp-area="" asp-controller="Admin" asp-action="Login">logging in</a> to create your first store!</p>
    <p style="color:darkred">This is the beta version of "Best Prize Store" and is for trialing only. Please be aware that any information saved on this account will not be permanent. If you would like to see "Best Prize Store" made available to organizations like yours, please send an email to tim.honchel@gmail.com. </p>
</div>