@model Admin
<h2>Register for a new account</h2>
@using (Html.BeginForm("RegisterAdmin", "Admin", "Post"))
{
    <br>
    <input asp-for="ID" type="hidden" value="" />
    <label asp-for="Email" class="control-label">Email</label>
    <input type="text" name="Email" class="form-control" value="" />
    <br>
    <label asp-for="Unhashed" class="control-label">Password</label>
    <input type="text" name="Unhashed" class="form-control" />
    <br>
    <input type="submit" value="Create Account" class="btn btn-primary" />

}