<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Best Prize Store" property="og:title">
    <meta name="description" content="Create a custom prize store for students." property="og:description">
    <meta name="author" content="Tim Honchel" >
    <meta name ="image" content="https://bestprizestore.azurewebsites.net/images/preview.png" property="og:image">
    <title>@ViewData["Title"] - Best Prize Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/custom.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="/favicon.png" rel="shortcut icon">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3 header-image">
            <div class="container">
                <a class="special-font special-font-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a> @*special class for color, shadow, and hover*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Authentication.Type != "student" && Authentication.Type != "admin" && Authentication.Type != "demo student" && Authentication.Type != "demo admin") @*the navigation links displayed will depend on who is logged in*@
                        {
                            <li class="nav-item white">
                                <a class="nav-links" asp-area="" asp-controller="User" asp-action="Login">Student Login</a>
                            </li>
                            <li class="nav-item white">
                                <a class="nav-links" asp-area="" asp-controller="Admin" asp-action="Login">Admin Login</a>
                            </li>
                            <li class="nav-item white">
                                <a class="nav-links" asp-area="" asp-controller="Home" asp-action="Demo">Demo</a>
                            </li>
                        }
                        @if (Authentication.Type == "student" || Authentication.Type == "demo student")
                        {
                            <li class="nav-item">
                                <a class="nav-links" asp-area="" asp-controller="User" asp-action="Store">Store Page</a>
                            </li>
                        }
                        @if (Authentication.Type == "admin" || Authentication.Type == "demo admin")
                        {
                            <li class="nav-item">
                                <a class="nav-links" href="/Organization/Index/@Authentication.StoreID" >Store Dashboard</a>
                            </li>
                        }
                        @if (Authentication.Type == "student" || Authentication.Type == "admin" || Authentication.Type == "demo student" || Authentication.Type == "demo admin")
                        {
                            <li class="nav-item">
                                <a class="nav-links" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3 my-content">
            @RenderBody() @*all other HTML pages will be rendered at this point*@
        </main>
    </div>

    <footer class="border-top footer text-muted footer-image my-footer">
        <div class="container">
            <span class="special-font">&copy; 2022 - <a href="http://tim-honchel.github.com" style="color:white" hover:"style:color:goldenrod">Tim Honchel</a></span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
