<div class="secondary-page">
    <h2>Demo the Prize Store</h2>
    <p>See what it would be like to have your own custom store!</p>
    <br>
     <div class="column-1">
        <h3 class = "my-secondary-title"><a asp-area="" asp-controller="Organization" asp-action="Demo">As an Administrator</a></h3>
        <p>Add students, add prizes, deposit funds, and manage orders! </p>
    </div>
    <div class = "column-2">
        <h3 class="my-secondary-title"><a asp-area="" asp-controller="User" asp-action="Demo">As a Student</a></h3>
        <p>View and buy prizes!</p>
    </div>
    
</div>