@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="secondary-page">

    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>You likely entered a value that was not allowed (i.e. entering a word when a number was expected, or an ID that does not exist, or a string that is too long)</p>
    <p>Please go back or return to the dashboard.</p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
