@{
    ViewData["Title"] = "Home - Student Rewards Store";
}

<div class="text-center">
    <h1 class="display-4">The Best Prize Store!</h1>
    <p>An online store that rewards students for their great attendance, behavior, and performance.</p>
    <img src="\images\tablets.png" width=498 height=372 alt="students with prizes">
    <p>Each school, class, club, or afterschool program can create and customize their own store.</p>
    <p>Fill your store with prizes and award currency so students can buy prizes. </p>
    <p>A game-changer for students and teachers alike!</p>
</div>