@{
    ViewData["Title"] = "Best Prize Store";
}
<div class="main-page">
    <div class="column-1">
        <h1 class="my-title">Best Prize Store!</h1>
        <p>An online store that rewards students for great attendance, behavior, and performance.</p>
        <img class="photo" src="\images\tablets.png" alt="students with prizes">
        <p>Each school, class, club, or afterschool program can create and customize their own store. Fill your store with prizes and award your private currency so students can buy prizes. A game-changer for students and teachers alike!</p>
    </div>
    <div class = "column-2">
        <h3 class="my-secondary-title">A real online shopping experience!</h3>
        <p>Scroll through your store, add to cart, and submit your order.</p>
        <img class="photo" src="\images\screenshot.png">
    </div>
</div>