@model Organization

@*Displays store settings with links to various actions*@
<div class="secondary-page">
    <div class="column-a">
        <h2>@Model.Name Dashboard</h2>
        <p>Welcome!</p>
        <p style="color:darkred">This is the beta version of "Best Prize Store" and is for trialing only. Please be aware that any information saved on this account will not be permanent. If you would like to see "Best Prize Store" made available to organizations like yours, please send an email to tim.honchel@gmail.com. </p>
        <h6>Store Info</h6>
        <p>The store is currently @Model.StoreStatus</p>
        @*<p>Auto schedule is turned @Model.AutoSchedule</p>*@
        <a asp-area="" asp-controller="Organization" asp-action="Settings" asp-route-id="@Model.OrganizationID">Edit store settings</a>
        <br>
        <br>
        <h6>Students</h6>
        <a asp-area="" asp-controller="Student" asp-action="Overview">View, modify, or add students</a>
        <br>
        <br>
        <h6>Prizes</h6>
        <a asp-area="" asp-controller="Prize" asp-action="Overview">View, modify, or add prizes</a>
        <br>
        <br>
        <h6>Orders</h6>
        <a asp-area="" asp-controller="Order" asp-action="Overview">View orders and mark as fulfilled</a>
        <br>
        <br>
        <h6>Deposits</h6>
        <a asp-area="" asp-controller="Deposit" asp-action="Overview">View, modify, and record deposits</a>
    </div>
    <div class="column-b">
        <img class="photo" src="\images\dashboard.jpg">
    </div>

</div>